<!-- container -->
<div class="container-fluid">
  <div class="row">
    <!-- sidebar -->
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-3 mysidebar justify-items-center d-flex align-items-center flex-column bd-highlight text-center position-sticky">
      <img src="../assets/crowd-connect.png" class="logo">
      <small>Crowd Connect</small>
      <h5>QR Generator</h5>
      <div class="row d-flex h-100 justify-content-center ">
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
          <div class="form-group mt-5 p-3 col-12 d-flex flex-wrap">
            <label>Url Prefix</label>
            <input class="form-control form-control-sm w-100" name="urlPrefix" #urlPrefix="ngModel" [ngModel]="QrData?.urlPrefix"
              placeholder="" required>
              <div *ngIf="urlPrefix.invalid && urlPrefix.touched" class="validation-error"><small>This field is Required </small></div>
          </div>

          <div class="form-group pl-3 pr-3 col-12 d-flex flex-wrap">
            <label>Number of QR</label>
            <input type="number" min="1"  name="QrQuantity" #qrQuantity="ngModel" [ngModel]="QrData?.QrQuantity"
              class="form-control form-control-sm w-100" placeholder="" required>
              <div *ngIf="qrQuantity.invalid && qrQuantity.touched" class="validation-error"><small>This field is Required </small></div>

          </div>
          <button class="btn btn-dark w-75 mt-5 mb-5 btn-md generate-button"> Generate</button>
        </form>

      </div>
      <div class="bottom-button p-2 mt-auto bd-highlight w-100">
        <button class="btn btn-danger w-75 mt-5 print" [useExistingCss]="true" printSectionId="printSection"
          ngxPrint>PRINT QR</button>
        <button class="btn btn-outline-dark btn-block mt-5 mb-4 logout">LOGOUT</button>
      </div>
    </div>
    <!-- qr fields -->
    <div class="col-xs-12 col-sm-9 col-md-12 col-lg-8 qr-area" id="printSection">
      <div class="d-flex flex-wrap justify-content-center flex-column pr-2">
        <!-- <ng-container>
          <div class="card qr-card mt-5 ml-4">
            <div class="card-header bg-danger text-center">
              <h6>Padis Point</h6>
            </div>
            <div class="card-body h-auto p-2">
              <qrcode qrdata="asdasd" class="qr" [level]="'M'"></qrcode>
            </div>
          </div>
        </ng-container> -->
        <ng-container *ngFor="let data of qr_codes">
          <h6>{{data}}</h6>
        </ng-container>
      </div>


    </div>
  </div>
</div>