.page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
}

.signInMessage{
  padding-top: 10px;
  text-align: center;
}