.main-nav{
    background-color: #272934;
    color: white;
    text-decoration: none;

}
.main-nav  a{
    color:white;
}


.navbar .active a {
    color: #33C397;
}

.container-fluid{
    overflow-y:auto !important;
    padding:0;
}